RewriteEngine On

# Ignore existing files
RewriteCond %{REQUEST_FILENAME} !-f

# Ignore existing directories
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]